#selector{
visibility: hidden;
background-color: gray;
border: solid;
position:absolute;
top: 0px;
width: 200px;
overflow: scroll;
}
#list{
font-size: 1em;
}

.line{
border-bottom: 1px solid blue;
border-top: 0px;
border-left: 0px;
border-right: 0px;
background-color: yellow;
width: 200px;
outline: none;
}

#new, #delete{
bottom: 10%;
position: absolute;
}
#save, #save-as, #open{
bottom: 2%;
position: absolute;

}
#save{
margin-left: 0%;
}
#save-as{
margin-left: 22%;
}
#open{
margin-left: 54%;
}
#new{
margin-left: 0%;
}
#delete{
margin-left: 22%;
}

body{
background-color: yellow;
width: 200px;
height: 300px;
}
